In [1]:
import pandas as pd
from citipy import citipy
import random
from matplotlib import pyplot as plt
from config import api_key
from openweathermapy import core as owm
import time

In [2]:
testLat = random.uniform(-90, 90)
testLng = random.uniform(-180, 180)
testCity = citipy.nearest_city(testLat, testLng)
testCity.city_name.title()

'Diu'

In [3]:
testCities = []
latList = []
lngList = []
while len(testCities) < 10:
    testLat = random.uniform(-90, 90)
    testLng = random.uniform(-180, 180)
    testCity = citipy.nearest_city(testLat, testLng)
    if testCity.city_name.title() not in testCities:
        testCities.append(testCity.city_name.title())
        latList.append(testLat)
        lngList.append(testLng)
print(testCities)
print(latList)
print(lngList)

['Albany', 'Basyanovskiy', 'Taolanaro', 'Ushuaia', 'Luderitz', 'Nabire', 'Illoqqortoormiut', 'Rikitea', 'Thompson', 'Berlevag']
[-70.50239356897484, 58.469214237295745, -45.31333347604919, -76.73226517112623, -27.11587883376528, -4.900860608101127, 79.78101883623259, -67.43230018049498, 63.2874047920543, 75.56573771032981]
[120.79315077749419, 60.89431367034351, 49.86343909879358, -44.51298636621601, 5.830669359343403, 137.2746206843276, -28.17516769813014, -121.82756947753528, -99.26554402708773, 30.77319827479741]

In [4]:
checker = citipy.nearest_city(latList[0], lngList[0])
checker.city_name

'albany'

In [5]:
checker2 = citipy.nearest_city(latList[9], lngList[9])
checker2.city_name

'berlevag'

In [6]:
cities_df = pd.DataFrame({
    'Nearest City': testCities,
    'Random Lat': latList,
    'Random Lng': lngList
})
cities_df.set_index('Nearest City', inplace = True)
cities_df

                  Random Lat  Random Lng
Nearest City
Albany            -70.502394  120.793151
Basyanovskiy       58.469214   60.894314
Taolanaro         -45.313333   49.863439
Ushuaia           -76.732265  -44.512986
Luderitz          -27.115879    5.830669
Nabire             -4.900861  137.274621
Illoqqortoormiut   79.781019  -28.175168
Rikitea           -67.432300 -121.827569
Thompson           63.287405  -99.265544
Berlevag           75.565738   30.773198

In [14]:
params = {
    'units': 'metric',
    'appid': api_key
}

testCityData = []
recordCount = 1
setCount = 1

print('''
---------------------------------
Beginning Data Retrieval
---------------------------------
''')

for city in testCities:
    if (testCities.index(city) % 2 == 0) and (testCities.index(city) > 1):
        time.sleep(5)
        setCount += 1
        recordCount = 1
    try:
        testCityData.append(owm.get_current(city, **params))        
        print(f'Retrieving data for Record {recordCount} in Set {setCount}: {city}')
        recordCount += 1
    except:
        print(f'City of {city} not found - skipping record')

print('''
---------------------------------
Data Retrieval Complete
---------------------------------
''')

---------------------------------
Beginning Data Retrieval
---------------------------------

Retrieving data for Record 1 in Set 1: Albany
City of Basyanovskiy not found - skipping record
City of Taolanaro not found - skipping record
Retrieving data for Record 1 in Set 2: Ushuaia
Retrieving data for Record 1 in Set 3: Luderitz
Retrieving data for Record 2 in Set 3: Nabire
City of Illoqqortoormiut not found - skipping record
Retrieving data for Record 1 in Set 4: Rikitea
Retrieving data for Record 1 in Set 5: Thompson
Retrieving data for Record 2 in Set 5: Berlevag

---------------------------------
Data Retrieval Complete
---------------------------------

In [8]:
print(len(testCityData))

7

In [9]:
summary = ['name', 'sys.country', 'coord.lat', 'coord.lon',
           'dt', 'main.temp', 'main.humidity', 'wind.speed', 'clouds.all']

df_list = []
for index in range(len(testCityData)):
    df_list.append(testCityData[index](*summary))
df_list

[('Albany', 'US', 42.65, -73.75, 1554048426, 4.39, 81, 8.7, 90),
 ('Ushuaia', 'AR', -54.81, -68.31, 1554044400, 10, 76, 2.1, 75),
 ('Luderitz', 'NA', -26.65, 15.16, 1554048438, 19.87, 80, 9.22, 12),
 ('Nabire', 'ID', -3.36, 135.5, 1554048438, 20.02, 94, 0.72, 48),
 ('Rikitea', 'PF', -23.12, -134.97, 1554048444, 24.82, 100, 8.87, 36),
 ('Thompson', 'CA', 55.74, -97.86, 1554044400, -5, 62, 7.2, 75),
 ('Berlevag', 'NO', 70.86, 29.09, 1554045600, -1.48, 86, 17, 90)]

In [10]:
df = pd.DataFrame(df_list, columns = [
    'City', 'Country', 'Latitutde', 'Longitude', 'Date', 'Temperature', 'Humidity', 'Wind Speed', 'Cloud %'
])
df

,City,Country,Latitutde,Longitude,Date,Temperature,Humidity,Wind Speed,Cloud %
0,Albany,US,42.65,-73.75,1554048426,4.39,81,8.70,90
1,Ushuaia,AR,-54.81,-68.31,1554044400,10.00,76,2.10,75
2,Luderitz,NA,-26.65,15.16,1554048438,19.87,80,9.22,12
3,Nabire,ID,-3.36,135.50,1554048438,20.02,94,0.72,48
4,Rikitea,PF,-23.12,-134.97,1554048444,24.82,100,8.87,36
5,Thompson,CA,55.74,-97.86,1554044400,-5.00,62,7.20,75
6,Berlevag,NO,70.86,29.09,1554045600,-1.48,86,17.00,90

In [11]:
df_betterDate = df.copy()
df_betterDate['Date'] = df_betterDate.Date.apply(lambda x: time.ctime(x))
df_betterDate

,City,Country,Latitutde,Longitude,Date,Temperature,Humidity,Wind Speed,Cloud %
0,Albany,US,42.65,-73.75,Sun Mar 31 10:07:06 2019,4.39,81,8.70,90
1,Ushuaia,AR,-54.81,-68.31,Sun Mar 31 09:00:00 2019,10.00,76,2.10,75
2,Luderitz,NA,-26.65,15.16,Sun Mar 31 10:07:18 2019,19.87,80,9.22,12
3,Nabire,ID,-3.36,135.50,Sun Mar 31 10:07:18 2019,20.02,94,0.72,48
4,Rikitea,PF,-23.12,-134.97,Sun Mar 31 10:07:24 2019,24.82,100,8.87,36
5,Thompson,CA,55.74,-97.86,Sun Mar 31 09:00:00 2019,-5.00,62,7.20,75
6,Berlevag,NO,70.86,29.09,Sun Mar 31 09:20:00 2019,-1.48,86,17.00,90