In [53]:
import pandas as pd
from citipy import citipy
import random
from matplotlib import pyplot as plt
from config import api_key
from openweathermapy import core as owm
import time

In [54]:
testLat = random.uniform(-90, 90)
testLng = random.uniform(-180, 180)
testCity = citipy.nearest_city(testLat, testLng)
testCity.city_name.title()

'Ambilobe'

In [55]:
testCities = []
latList = []
lngList = []
while len(testCities) < 10:
    testLat = random.uniform(-90, 90)
    testLng = random.uniform(-180, 180)
    testCity = citipy.nearest_city(testLat, testLng)
    if testCity.city_name.title() not in testCities:
        testCities.append(testCity.city_name.title())
        latList.append(testLat)
        lngList.append(testLng)
print(testCities)
print(latList)
print(lngList)

['Longyearbyen', 'Kieta', 'Carnarvon', 'Tidore', 'Illoqqortoormiut', 'Murdochville', 'Varkaus', 'Vagamo', 'Hobart', 'Kapaa']
[83.31238788476108, -1.7559443163109592, -23.06808783969295, 0.456805067893697, 84.84244208745633, 49.82256780437359, 61.755973682573114, 62.0055809884943, -59.04635014369062, 31.205747915677662]
[14.984944240768584, 158.868420365323, 114.40014092358666, 127.47994765874614, -26.633875353890318, -65.37727194227958, 27.83625024818005, 8.97303609321881, 146.0739999654303, -164.21217522466645]

In [56]:
checker = citipy.nearest_city(latList[0], lngList[0])
checker.city_name

'longyearbyen'

In [57]:
checker2 = citipy.nearest_city(latList[9], lngList[9])
checker2.city_name

'kapaa'

In [58]:
cities_df = pd.DataFrame({
    'Nearest City': testCities,
    'Random Lat': latList,
    'Random Lng': lngList
})
cities_df.set_index('Nearest City', inplace = True)
cities_df

                  Random Lat  Random Lng
Nearest City
Longyearbyen       83.312388   14.984944
Kieta              -1.755944  158.868420
Carnarvon         -23.068088  114.400141
Tidore              0.456805  127.479948
Illoqqortoormiut   84.842442  -26.633875
Murdochville       49.822568  -65.377272
Varkaus            61.755974   27.836250
Vagamo             62.005581    8.973036
Hobart            -59.046350  146.074000
Kapaa              31.205748 -164.212175

In [61]:
params = {
    'units': 'metric',
    'appid': api_key
}

testCityData = []
recordCount = 1

print('''Beginning Data Retrieval
---------------------------------
''')

for city in testCities:
    if testCities.index(city) % 2 == 1:
        time.sleep(5)
    try:
        testCityData.append(owm.get_current(city, **params))        
        print(f'Retrieving data for Record {recordCount}: {city}')
        recordCount += 1
    except:
        print(f'City of {city} not found - skipping request')

print('''
---------------------------------
Data Retrieval Complete
---------------------------------
''')

Beginning Data Retrieval
---------------------------------

Retrieving data for Record 1: Longyearbyen
Retrieving data for Record 2: Kieta
Retrieving data for Record 3: Carnarvon
City of Tidore not found - skipping request
City of Illoqqortoormiut not found - skipping request
Retrieving data for Record 4: Murdochville
Retrieving data for Record 5: Varkaus
Retrieving data for Record 6: Vagamo
Retrieving data for Record 7: Hobart
Retrieving data for Record 8: Kapaa

---------------------------------
Data Retrieval Complete
---------------------------------

In [62]:
print(len(testCityData))

8

In [63]:
summary = ['name', 'sys.country', 'coord.lat', 'coord.lon',
           'dt', 'main.temp', 'main.humidity', 'wind.speed', 'clouds.all']

df_list = []
for index in range(len(testCityData)):
    df_list.append(testCityData[index](*summary))
df_list

[('Longyearbyen', 'NO', 78.22, 15.63, 1554004200, -14, 65, 3.1, 20),
 ('Kieta', 'PG', -6.22, 155.63, 1554006801, 28.12, 93, 1.25, 56),
 ('Carnarvon', 'ZA', -30.97, 22.13, 1554006801, 19.32, 37, 5.32, 92),
 ('Murdochville', 'CA', 48.96, -65.49, 1554006812, -2.48, 84, 5.22, 92),
 ('Varkaus', 'FI', 62.32, 27.87, 1554006604, 0, 90, 4.45, 90),
 ('Vagamo', 'NO', 61.88, 9.1, 1554006817, -6.93, 66, 2.7, 12),
 ('Hobart', 'AU', -42.88, 147.33, 1554006681, 14.71, 41, 8.7, 75),
 ('Kapaa', 'US', 22.08, -159.32, 1554006607, 22.17, 56, 3.1, 1)]

In [64]:
df = pd.DataFrame(df_list, columns = [
    'City', 'Country', 'Latitutde', 'Longitude', 'Date', 'Temperature', 'Humidity', 'Wind Speed', 'Cloud %'
])
df

,City,Country,Latitutde,Longitude,Date,Temperature,Humidity,Wind Speed,Cloud %
0,Longyearbyen,NO,78.22,15.63,1554004200,-14.00,65,3.10,20
1,Kieta,PG,-6.22,155.63,1554006801,28.12,93,1.25,56
2,Carnarvon,ZA,-30.97,22.13,1554006801,19.32,37,5.32,92
3,Murdochville,CA,48.96,-65.49,1554006812,-2.48,84,5.22,92
4,Varkaus,FI,62.32,27.87,1554006604,0.00,90,4.45,90
5,Vagamo,NO,61.88,9.10,1554006817,-6.93,66,2.70,12
6,Hobart,AU,-42.88,147.33,1554006681,14.71,41,8.70,75
7,Kapaa,US,22.08,-159.32,1554006607,22.17,56,3.10,1

In [71]:
df_betterDate = df.copy()
df_betterDate['Date'] = df_betterDate.Date.apply(lambda x: time.ctime(x))
df_betterDate

,City,Country,Latitutde,Longitude,Date,Temperature,Humidity,Wind Speed,Cloud %
0,Longyearbyen,NO,78.22,15.63,Sat Mar 30 21:50:00 2019,-14.00,65,3.10,20
1,Kieta,PG,-6.22,155.63,Sat Mar 30 22:33:21 2019,28.12,93,1.25,56
2,Carnarvon,ZA,-30.97,22.13,Sat Mar 30 22:33:21 2019,19.32,37,5.32,92
3,Murdochville,CA,48.96,-65.49,Sat Mar 30 22:33:32 2019,-2.48,84,5.22,92
4,Varkaus,FI,62.32,27.87,Sat Mar 30 22:30:04 2019,0.00,90,4.45,90
5,Vagamo,NO,61.88,9.10,Sat Mar 30 22:33:37 2019,-6.93,66,2.70,12
6,Hobart,AU,-42.88,147.33,Sat Mar 30 22:31:21 2019,14.71,41,8.70,75
7,Kapaa,US,22.08,-159.32,Sat Mar 30 22:30:07 2019,22.17,56,3.10,1